NODE_ENV=production
PORT=5000
MONGO_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/smart-artisan?retryWrites=true&w=majority
JWT_SECRET=replace-with-a-long-random-string
GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
CLIENT_URL=https://smart-artisan-assistant-7wwp.onrender.com
N8N_QC_WEBHOOK_URL=https://n8n.srv1710717.hstgr.cloud/webhook/48fd30e2-86e0-4bc8-b483-a0f961d2d144
N8N_PRICE_WEBHOOK_URL=https://n8n.srv1710717.hstgr.cloud/webhook/4907eca7-65ca-41d2-a128-f345821b73ac
N8N_LOW_STOCK_WEBHOOK_URL=https://n8n.srv1710717.hstgr.cloud/webhook/f631dfff-17ac-4cf5-82a4-b05ff21b1aad
N8N_TELEGRAM_WEBHOOK_URL=https://n8n.srv1710717.hstgr.cloud/webhook/c002b8f1-a120-48d0-b526-1aafabbb54a1
